<section class="ui segment">
  <div class="ui two small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
          {{members.name}}          
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i> {{gymutility.bmi}}
      </div>
      <div class="label">
        BMI
      </div>
    </div>
  </div>
</section>