<table class="center aligned ui celled table">
    <thead>
      <tr>
        {{> assessment-header}}   
      </tr>
    </thead>
      <tbody>
        {{#each assessments}}
          <tr>
         {{> assessment-measurements}} 
          </tr>
        {{/each}}
      </tbody>
</table>  
