{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img class="ui image" src=https://cdn.glitch.com/c9331e64-aef1-4e0d-b27d-7d6d67fee577%2Fseticon.jpg?v=1598691975253>
  </div>
</section>