{{> welcomemenu id="signup"}}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <form class="ui stacked segment form" action="/register" method="POST">
      <h3 class="ui header center aligned">Register</h3>
      <div class="field">        
          <label>Name</label>
          <input placeholder="Name" type="text" name="name">
        </div>         
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email">
      </div>
      <div class="field">
        <label>Password</label>
        <input placeholder="Password" type="password" name="password">
      </div>
      <div class="field">
        <label>Address</label>
        <input placeholder="Address" type="text" name="address">
      </div>
           <div class="field">
          <label>Gender</label>
          <input placeholder="Gender" type="text" name="gender">
        </div>
      <div class="two fields">
        <div class="field">
          <label>Height</label>
          <input placeholder="Height in Meters" type="text" name="height">
        </div>
        <div class="field">
          <label>Starting Weight</label>
          <input placeholder="Weight in Kg's" type="number" name="startingweight">
        </div>
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
  </div>
      <div class="column">
        <img class="ui image" src="https://cdn.glitch.com/c9331e64-aef1-4e0d-b27d-7d6d67fee577%2Fseticon.jpg?v=1598691975253">
      </div>
</div>